/Match3F/Library
/Match3F/Temp
/Match3F/obj
/Match3F/AssetBundles
/Match3F/.vs
/Match3F/*.csproj
/Match3F/Match3F.sln
/Match3F/*.userprefs
/Match3F/*csharp.sin
/Match3F/Assets/StreamingAssets/build_info.txt
/Match3F/Assets/StreamingAssets/build_info.txt.meta

/Match3Starter/Library
/Match3Starter/Temp
/Match3Starter/obj
/Match3Starter/AssetBundles
/Match3Starter/.vs
/Match3Starter/*.csproj
/Match3Starter/Match3Starter.sln
/Match3Starter/*.userprefs
/Match3Starter/*csharp.sin
/Match3Starter/Assets/StreamingAssets/build_info.txt
/Match3Starter/Assets/StreamingAssets/build_info.txt.meta


#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio

*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sln
